<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="My lovely web page"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Generátor</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet"/>
    <link rel="stylesheet" href="css/bootstrap.min.css" th:href="@{'/css/bootstrap.min.css'}"/>
    <link rel="shortcut icon" href="images/dog_ico" type="image/x-icon" th:href="@{'/images/dog_ico'}"/>
</head>
<body>
<div th:insert="fragments/menu :: menu">menu</div>

<div class="container">
    <div class="jumbotron">
        <br><br><br>
        <img src="/images/carod.jpg" class="obrazek_kartoteka" th:src="@{'/images/' + ${jedenKontakt.fotka}}"/>

        <h1 class="text-primary" th:text="${jedenKontakt.jmeno}">Opička Žofka</h1>
        <br>
        <ul>
            <li>
                <td>Povolani:</td>
                <td th:text="${jedenKontakt.povolani}">Kovář</td>
            </li>
            <li>
                <td>Bydliště:</td>
                <td th:text="${jedenKontakt.bydliste}">Les</td>
            </li>

            <li>
                <td>Email:</td>
                <td th:text="${jedenKontakt.email}">kuk@post.cz</td>
            </li>

        </ul>
        <br><br>

        <a th:href="@{'/uprava/' + ${jedenKontakt.idKontaktu}}" href="uprava.html"
           class="btn btn-outline-info">Upravit záznam</a>
        <a th:href="@{'/seznam'}" href="index.html" class="btn btn-outline-danger">Zpět na seznam
            kontaktů</a>

    </div>
    <footer class="paticka">
        <div>
            <p th:insert="fragments/footer :: footer">Footer</p>
        </div>
    </footer>
</div>

</body>
</html>
