<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="cs"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="My lovely web page"/>
    <meta name="robots" content="index, follow"/>
    <meta name="keywords" content="java, web"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Generátor</title>
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i|Raleway:400,400i,700,700i&amp;subset=latin-ext"
          rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css" th:href="@{'/css/bootstrap.min.css'}"/>
    <link rel="shortcut icon" href="../static/images/dog_ico" type="image/x-icon" th:href="@{'/images/dog_ico'}"/>
</head>
<body>
<div th:insert="fragments/menu :: menu">menu</div>

<div class="container">
    <div class="jumbotron">
        <br><br><br>
        <h1 class=text-success>Zadejte novou pohádkovou postavu</h1>
        <br>
        <h2 class=text-danger th:text="${oprava_nutna}"></h2>
        <br>
        <form method="post">
            <table class="table table-hover">

                <tr>
                    <td height="100">
                        <img src="../static/images/carod.jpg" th:src="@{'/images/carod.jpg'}" class="obrazek_pexesa"
                             alt="zviřátko"/>

                    </td>
                    <td height="100">
                        <img src="../static/images/mak.jpg" th:src="@{'/images/mak.jpg'}" class="obrazek_pexesa"
                             alt="Maková panenka"/>
                    </td>
                    <td height="100">
                        <img src="../static/images/rakos.jpg" th:src="@{'/images/rakos.jpg'}" class="obrazek_pexesa"
                             alt="Rákosníček"/>
                    </td>
                    <td height="100">
                        <img src="../static/images/staf.jpg" th:src="@{'/images/staf.jpg'}" class="obrazek_pexesa"
                             alt="Štaflík"/>
                    </td>
                </tr>
                <tr>
                    <td style="text-align:center">
                        <input name="fotka" type="radio" value="carod.jpg" checked=""
                               th:checked="${formular.fotka=='carod.jpg'}"/>
                    </td>
                    <td style="text-align:center">
                        <input name="fotka" type="radio" value="mak.jpg" th:checked="${formular.fotka=='mak.jpg'}"/>
                    </td>
                    <td style="text-align:center">
                        <input name="fotka" type="radio" value="rakos.jpg" th:checked="${formular.fotka=='rakos.jpg'}"/>
                    </td>
                    <td style="text-align:center">
                        <input name="fotka" type="radio" value="staf.jpg" th:checked="${formular.fotka=='staf.jpg'}"/>
                    </td>
                </tr>
            </table>

            <div class="form-group">
                <label for="jmeno">Jméno</label>
                <textarea class="form-control" name="jmeno" id="jmeno" th:text="${formular.jmeno}" rows="1"></textarea>

                <label for="povolani">Povolání</label>
                <textarea class="form-control" name="povolani" id="povolani" th:text="${formular.povolani}"
                          rows="1"></textarea>

                <label for="bydliste">Bydliště</label>
                <textarea class="form-control" name="bydliste" id="bydliste" th:text="${formular.bydliste}"
                          rows="1"></textarea>

                <label for="email">Email</label>
                <textarea class="form-control" name="email" id="email" th:text="${formular.email}" rows="1"></textarea>

            </div>
            <td>
                <input type="submit" value="Uložit" class="btn btn-outline-primary"/>
                <a th:href="@{'/seznam'}" href="index_zaloha.html" class="btn btn-outline-danger">Zpět na seznam
                    kontaktů</a>
            </td>
            </tr>

        </form>
    </div>
    <footer class="paticka">
        <div>
            <p th:insert="fragments/footer :: footer">Footer</p>
        </div>
    </footer>
</div>

</body>
</html>
